#pic_bio {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

/* define box for short bio */
div.bio-short {
    position: relative;
    left: 50%;
    top: -50%;
    max-width: 30%;
}

#bio-short-head {
    font-size: 150%;
}

/* class for profile picture */
div.picture {
    position: relative;
    left: 15%;
    top: 100px;
    max-width: 30%;
}

html {
    background-color: white;
    font-family: "Merriweather", serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }

  /* Typeset name in top left corner. */
  #topname {
      font-size: 200%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav-left {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 18px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(39 116 174);
    color: white;
  }
