html {
    background-color: white;
    font-family: "Merriweather", serif;
    height: 100%;
}

body {
  height:100%;
}

/* top navigation background */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* top navigation links */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
}

/* dropdown button */
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  color: black;
  border: none;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  font: inherit;
  margin: 0;
}
/* menu */
.dropdown-content {
  display: none;
  position: absolute;
  right: 8px;
  background-color: inherit;
  color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* menu items */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* show on JS command */
.show {
  display: block;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(39 116 174);
  color: white;
}

.page_title {
  font-size: 300%;
  text-align: center;
}

#bio {
  margin-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.main_text {
  margin: 0% 15% 5%;
}

footer {
  height: 10%;
  text-align: center;
  font-size: 24px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.icon {
  padding-left: 0.5%;
  padding-right: 0.5%;
  color: black;
}

/* other link styling*/
.main_text a:link, .main_text a:visited, #bio a:link, #bio a:visited{
  color: #0000EE;
}